@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    width: 80vw;
    height: 99vh;
    background: #262626 !important;
}

.App {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}